@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,300&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #333738;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h2,
h3 {
  width: fit-content;
  font-size: 20px;
}

.main-header {
  text-align: center;
  margin-top: 100px;
  letter-spacing: 10px;
  font-size: 150px;
  font-family: Noto + Sans, sans-serif;
  text-transform: uppercase;
  color: #353935;
}

.main-header-alt {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 10px;
  font-size: 50px;
  font-family: Noto + Sans, sans-serif;
  text-transform: capitalize;
  color: #353935;
}

#load-file-section {
  min-width: 100vw;
  height: 100vh;
}

#load-file-container {
  text-align: center;
  width: 50%;
  margin-top: 50px;
  padding-top: 100px;
  position: relative;
  top: 0%;
}

#load-file-elements {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

#title {
  font-family: Noto + Sans, sans-serif;
  margin-top: 0;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 230px;
  color: #353935;
 
}

#main-input {
  border-radius: 50px;
  padding: 2px;
  font-size: 20px;
}
.main-input-button {
  font-size: 20px;
}

.main-input-button::-webkit-file-upload-button {
  background-color: rgba(0, 0, 0, 0.337);
  
  color: white;
  font-size: 20px;
  padding: 20px 100px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: ;
}
.main-input-button::-webkit-file-upload-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 20px 100px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}

#display-all-queries {
  background-color: transparent;
  /* background-color: #b4b5be; */
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}

/* this created when the file is loaded. */

#result-summary {
  display: flex;
  flex-direction: column;
  font-size: small;
  background-color: transparent;
}

.result-summary-tile {
  text-overflow: unset;
  border: 1px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: fit-content;
  margin: 10px 10px;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}

.result-summary-tile-ok {
  text-overflow: unset;
  border: 1px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: fit-content;
  margin: 10px 10px;
  padding: 10px 10px 30px 10px;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  border-radius: 10px;
}

.result-summary-tile-error {
  text-overflow: unset;
  border: 1px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: fit-content;
  margin: 10px 10px;
  padding: 10px 10px 30px 10px;
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
  border-radius: 10px;
}

.more-details {
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
}

#result-details-tile {
  display: flex;
  flex-direction: column;
  font-size: small;
}

#detail-container-div {
  background-color: black;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border-bottom: 10px solid white;
}

.gradient-background {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}

.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: black;
}

textarea {
  columns: auto;
}

#textarearequest,
#textarearesponse,
#textareastimings {
  font-size: 15px;
}

#card-body > div > ul {
  list-style-type: none;
  font-size: 15px;
}

